<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.testminiproject.mapper.TestItemRequestMapper">

    <select id="getItems" resultType="com.example.testminiproject.vo.TestItemVo">
        SELECT
            TEST_ITEM_NO
            , ITEM_TITLE
        FROM TEST_ITEM_REQUEST
        WHERE TEST_NO = #{testNo}
    </select>


</mapper>