<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.testminiproject.req.mapper.TestRequestMapper">

    <select id="findAllRequests" resultType="com.example.testminiproject.req.vo.TestVo">
        SELECT
            TEST_NO
            , TITLE
            , CONTENT
            , NVL(MODIFY_USER_ID,CREATE_USER_ID)
            , NVL(MODIFY_DATE,CREATE_DATE)
        FROM TEST_REQUEST
    </select>

    <select id="findByTestNo" parameterType="com.example.testminiproject.req.vo.TestVo" resultType="com.example.testminiproject.req.vo.TestVo">
        SELECT
            TEST_NO
             , TITLE
             , CONTENT
             , NVL(MODIFY_USER_ID,CREATE_USER_ID)
             , NVL(MODIFY_DATE,CREATE_DATE)
        FROM TEST_REQUEST
        WHERE TEST_NO = #{testNo}
    </select>

    <insert id="insertRequest" parameterType="com.example.testminiproject.req.vo.TestVo">
        INSERT INTO TEST_REQUEST(
            TITLE
            , CONTENT
            , CREATE_DATE
            , CREATE_USER_ID
            , STATUS
        ) VALUES (
            #{title}
            , #{content}
            , SYSDATE
            , #{userId}
            , #{status}
         )
    </insert>

    <update id="updateRequest" parameterType="com.example.testminiproject.req.vo.TestVo">
        UPDATE TEST_REQUEST SET
          TITLE              = #{title}
          , CONTENT          = #{content}
          , MODIFY_DATE      = SYSDATE
          , MODIFY_USER_ID   = #{userId}
        WHERE TEST_NO = #{testNo}
    </update>

    <update id="deleteRequest" parameterType="String">
        UPDATE TEST_REQUEST SET
            DELETE_YN = #{deleteYn}
          , DELETE_DATE      = SYSDATE
          , DELETE_USER_ID   = #{userId}
        WHERE TEST_NO = #{testNo}
    </update>

    <update id="updateRequestStatus" parameterType="com.example.testminiproject.req.vo.TestVo">
        UPDATE TEST_REQUEST SET
            STATUS = #{status}
          , MODIFY_DATE      = SYSDATE
          , MODIFY_USER_ID   = #{userId}
        WHERE TEST_NO = #{testNo}
    </update>

</mapper>